In [27]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA 
from collections import Counter

### Dacon 제공 NA removal

In [20]:
test = pd.read_csv("data/test.csv", sep = ",")
submission = pd.read_csv("data/submission.csv")

In [12]:
test.head()

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
1,2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2,2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
3,2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
4,2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [21]:
test2 = test.copy()

In [14]:
test2 = test2.set_index('Time')
test2.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

<br>

### 시간별 평균 대입
(코드 설명은 02_1 에 되어있음)

In [15]:
test2.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [22]:
test['Time'] = pd.to_datetime(test.Time)
test = test.set_index('Time')

In [61]:
test['X435'].mode(1)

0    0.305
1    0.306
dtype: float64

In [64]:
c = test.columns
mode = []

for i in range(len(c)):
    a = test[c[i]].mode(1)
    mode.append([c[i], a])

In [66]:
mode1 = pd.DataFrame(mode)

In [68]:
mode1.to_csv('test_mode.csv')

In [73]:
mode2 = pd.read_csv('test_mode1.csv', header=None)

In [87]:
mode3 = mode2.T

In [88]:
mode3 = mode3.reset_index(drop=True)
mode3.to_csv('f_mode1.csv', index=False, header=None)

In [89]:
mode3 = pd.read_csv('f_mode1.csv')
mode3

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,1.434,0.25,0.266,0.305,0.185,0.079,0.283,0.253,0.02,0.24,...,0.17,0.088,0.219,0.154,0.092,0.094,0.131,1.109,0.225,0.26

In [6]:
mode3 = pd.read_csv('f_mode.csv')
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [ ]:
test[]

In [90]:
c = mode3.columns
test2 = pd.DataFrame()   # 새로운 데이터프레임 생성
n=0  # 현재 칼럼카운트를 보여주기 위한 변수

# 미터ID 리스트 c에서 1개씩 for loop
for i in c:  
    n +=1   # 카운트 
    li = test[test[i].isnull()].index   # li: test데이터프레임의 특정 열(i)에서 Null인 셀 index추출 
    df = pd.DataFrame(test[i])    # df: test의 i열을 별개 데이터프레임으로 생성
    for t in li:    #  li(Null 인덱스)를 사용해 for loop
        df.loc[t] = mode3[i][0]  # null값에 t.hour 평균 대입
    print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
    test2 = pd.concat([test2,df], axis=1)   # 평균 대치가 끝난 df를 test2에 concat해준다.

1. current column: X26, NaN count: 7003
2. current column: X303, NaN count: 1852
3. current column: X241, NaN count: 1894
4. current column: X435, NaN count: 2008
5. current column: X402, NaN count: 2003
6. current column: X352, NaN count: 1903
7. current column: X305, NaN count: 2021
8. current column: X350, NaN count: 1926
9. current column: X326, NaN count: 2037
10. current column: X299, NaN count: 2017
11. current column: X160, NaN count: 2088
12. current column: X125, NaN count: 0
13. current column: X211, NaN count: 1905
14. current column: X349, NaN count: 2016
15. current column: X407, NaN count: 2006
16. current column: X330, NaN count: 1985
17. current column: X132, NaN count: 1886
18. current column: X231, NaN count: 2094
19. current column: X225, NaN count: 2065
20. current column: X16, NaN count: 7003
21. current column: X286, NaN count: 2040
22. current column: X354, NaN count: 1969
23. current column: X353, NaN count: 2024
24. current column: X76, NaN count: 0
25. current column: X255, NaN count: 1929
26. current column: X106, NaN count: 0
27. current column: X393, NaN count: 1979
28. current column: X157, NaN count: 2121
29. current column: X323, NaN count: 2021
30. current column: X130, NaN count: 1923
31. current column: X269, NaN count: 2122
32. current column: X94, NaN count: 0
33. current column: X172, NaN count: 2092
34. current column: X289, NaN count: 2039
35. current column: X216, NaN count: 1926
36. current column: X123, NaN count: 0
37. current column: X398, NaN count: 2003
38. current column: X233, NaN count: 1930
39. current column: X214, NaN count: 1895
40. current column: X270, NaN count: 2093
41. current column: X371, NaN count: 2024
42. current column: X200, NaN count: 2096
43. current column: X111, NaN count: 0
44. current column: X163, NaN count: 1869
45. current column: X364, NaN count: 1979
46. current column: X378, NaN count: 1998
47. current column: X271, NaN count: 2121
48. current column: X462, NaN count: 2147
49. current column: X427, NaN count: 2009
50. current column: X73, NaN count: 112
51. current column: X7, NaN count: 7003
52. current column: X263, NaN count: 2065
53. current column: X450, NaN count: 1878
54. current column: X18, NaN count: 7003
55. current column: X206, NaN count: 2089
56. current column: X133, NaN count: 1822
57. current column: X41, NaN count: 7003
58. current column: X195, NaN count: 1927
59. current column: X155, NaN count: 2675
60. current column: X134, NaN count: 1926
61. current column: X297, NaN count: 1969
62. current column: X175, NaN count: 2090
63. current column: X254, NaN count: 1932
64. current column: X196, NaN count: 1897
65. current column: X481, NaN count: 4583
66. current column: X412, NaN count: 1863
67. current column: X337, NaN count: 2022
68. current column: X406, NaN count: 1871
69. current column: X67, NaN count: 0
70. current column: X414, NaN count: 1865
71. current column: X55, NaN count: 7003
72. current column: X91, NaN count: 0
73. current column: X260, NaN count: 1892
74. current column: X252, NaN count: 1927
75. current column: X5, NaN count: 7003
76. current column: X455, NaN count: 2232
77. current column: X43, NaN count: 7003
78. current column: X320, NaN count: 1945
79. current column: X276, NaN count: 2274
80. current column: X423, NaN count: 1987
81. current column: X218, NaN count: 2087
82. current column: X399, NaN count: 1875
83. current column: X213, NaN count: 2120
84. current column: X379, NaN count: 2015
85. current column: X468, NaN count: 2123
86. current column: X253, NaN count: 1930
87. current column: X247, NaN count: 2044
88. current column: X262, NaN count: 2085
89. current column: X248, NaN count: 1895
90. current column: X357, NaN count: 1981
91. current column: X215, NaN count: 1897
92. current column: X177, NaN count: 2091
93. current column: X228, NaN count: 1883
94. current column: X59, NaN count: 7003
95. current column: X10, NaN count: 7003
96. current column: X187, NaN count: 2076
97. current column: X245, NaN count: 2111
98. current column: X87, NaN count: 0
99. current column: X242, NaN count: 2123
100. current column: X376, NaN count: 1987
101. current column: X166, NaN count: 1894
102. current column: X472, NaN count: 2133
103. current column: X275, NaN count: 2253
104. current column: X126, NaN count: 0
105. current column: X120, NaN count: 0
106. current column: X313, NaN count: 1964
107. current column: X201, NaN count: 2089
108. current column: X110, NaN count: 0
109. current column: X408, NaN count: 1857
110. current column: X62, NaN count: 7003
111. current column: X419, NaN count: 1901
112. current column: X460, NaN count: 1850
113. current column: X367, NaN count: 2111
114. current column: X143, NaN count: 2096
115. current column: X312, NaN count: 2460
116. current column: X410, NaN count: 1998
117. current column: X389, NaN count: 1875
118. current column: X300, NaN count: 1961
119. current column: X61, NaN count: 7003
120. current column: X470, NaN count: 2131
121. current column: X445, NaN count: 2009
122. current column: X158, NaN count: 2099
123. current column: X421, NaN count: 1874
124. current column: X105, NaN count: 0
125. current column: X32, NaN count: 7003
126. current column: X178, NaN count: 2090
127. current column: X308, NaN count: 2023
128. current column: X217, NaN count: 1929
129. current column: X229, NaN count: 1894
130. current column: X358, NaN count: 2022
131. current column: X31, NaN count: 7003
132. current column: X148, NaN count: 2034
133. current column: X397, NaN count: 1981
134. current column: X363, NaN count: 1994
135. current column: X165, NaN count: 2088
136. current column: X30, NaN count: 7003
137. current column: X88, NaN count: 0
138. current column: X296, NaN count: 2045
139. current column: X219, NaN count: 2089
140. current column: X116, NaN count: 0
141. current column: X68, NaN count: 0
142. current column: X431, NaN count: 2003
143. current column: X302, NaN count: 2040
144. current column: X314, NaN count: 1992
145. current column: X124, NaN count: 0
146. current column: X405, NaN count: 2004
147. current column: X315, NaN count: 2022
148. current column: X51, NaN count: 7003
149. current column: X176, NaN count: 2121
150. current column: X396, NaN count: 2008
151. current column: X449, NaN count: 2003
152. current column: X383, NaN count: 2005
153. current column: X473, NaN count: 1962
154. current column: X205, NaN count: 2111
155. current column: X35, NaN count: 7003
156. current column: X161, NaN count: 2099
157. current column: X403, NaN count: 2004
158. current column: X341, NaN count: 2012
159. current column: X149, NaN count: 2035
160. current column: X82, NaN count: 0
161. current column: X377, NaN count: 2017
162. current column: X232, NaN count: 1924
163. current column: X333, NaN count: 2014
164. current column: X140, NaN count: 2084
165. current column: X44, NaN count: 7003
166. current column: X37, NaN count: 7003
167. current column: X42, NaN count: 7005
168. current column: X422, NaN count: 1879
169. current column: X50, NaN count: 7003
170. current column: X386, NaN count: 2005
171. current column: X80, NaN count: 0
172. current column: X250, NaN count: 1934
173. current column: X142, NaN count: 2087
174. current column: X235, NaN count: 2089
175. current column: X446, NaN count: 2006
176. current column: X331, NaN count: 1992
177. current column: X102, NaN count: 0
178. current column: X186, NaN count: 2061
179. current column: X243, NaN count: 2108
180. current column: X194, NaN count: 1931
181. current column: X183, NaN count: 2090
182. current column: X139, NaN count: 2087
183. current column: X459, NaN count: 1981
184. current column: X457, NaN count: 2003
185. current column: X70, NaN count: 0
186. current column: X368, NaN count: 2036
187. current column: X282, NaN count: 2117
188. current column: X426, NaN count: 1872
189. current column: X47, NaN count: 7003
190. current column: X192, NaN count: 1801
191. current column: X283, NaN count: 1888
192. current column: X329, NaN count: 1698
193. current column: X223, NaN count: 1929
194. current column: X266, NaN count: 2089
195. current column: X20, NaN count: 7003
196. current column: X443, NaN count: 1997

197. current column: X347, NaN count: 2012
198. current column: X75, NaN count: 0
199. current column: X107, NaN count: 0
200. current column: X230, NaN count: 2109

In [91]:
test2.tail()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-30 19:00:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,0.286,...,0.312,0.381,0.479,0.858,11.546,0.428,0.134,3.519,0.027,0.286
2018-06-30 20:00:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,0.230,...,0.327,0.402,0.725,0.816,11.591,0.413,0.206,3.331,0.027,0.303
2018-06-30 21:00:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,0.346,...,0.253,0.401,0.426,0.659,10.766,0.466,0.324,3.416,0.026,0.253
2018-06-30 22:00:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,0.466,...,0.332,0.401,0.353,0.462,0.312,0.473,0.402,4.263,0.027,0.253
2018-06-30 23:00:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,0.405,...,0.434,0.435,0.349,0.792,0.309,0.519,0.334,0.784,0.027,0.310

In [92]:
test3 = test2.copy()

<br>

### Dacon 중급 베이스코드 (test셋의 각 미터ID마다 ARIMA 단순 시계열 예측)

In [93]:
submission = pd.read_csv("data/submission.csv")

In [94]:
time = []; place_id = []; target = []

for i in test3.columns:
    for j in range(len(test3)):
        place_id.append(i)
        time.append(test3.index[j])
        target.append(test3[i].iloc[j])
new_df = pd.DataFrame({'place_id': place_id, 'time':time, 'target': target})
new_df = new_df.dropna()
new_df = new_df.set_index('time')
new_df.head()

                    place_id  target
time
2017-07-01 00:00:00      X26   1.434
2017-07-01 01:00:00      X26   1.434
2017-07-01 02:00:00      X26   1.434
2017-07-01 03:00:00      X26   1.434
2017-07-01 04:00:00      X26   1.434

In [95]:
import itertools

In [96]:
p=d=q = range(0,2)
pdq = list(itertools.product(p,d,q))
pdq

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [97]:
def get_optimal_params(y):
    param_dict = {}
    for param in pdq:
        try:
            model = ARIMA(y, order=param)
            results_ARIMA = model.fit(disp=-1)
            param_dict[results_ARIMA.aic] = param
        except:
            continue

    min_aic = min(param_dict.keys())
    optimal_params = param_dict[min_aic]
    return optimal_params

In [98]:
# agg라는 dictionary를 생성하여, 각 미터ID를 key로, 예측시간 및 값 리스트를 value로 저장
agg={}

for key in new_df['place_id'].unique(): # 미터ID리스트를 unique()함수로 추출, for loop
    temp = new_df.loc[new_df['place_id']==key] # new_df에서 key와 일치하는 place_id를 가지는 부분을 temp에 할당
    temp_1h=temp.resample('1h').sum() # 1시간 단위 resampling(일종의 timeseries압축)
    temp_1day=temp.resample('D').sum() # 1일 단위 resampling

    # 1 시간별 예측
    model = ARIMA(temp_1h['target'],  # target 을 추측하고자 함
                  order=get_optimal_params(temp_1h['target'])) # AIC를 최소화하는 최적의 파라미터 
    results_ARIMA = model.fit(disp=-1)  
    fcst = results_ARIMA.forecast(24) # 24시간 예측

    a = pd.DataFrame() # a: 예측값을 담을 데이터프레임 생성
    
    for i in range(24):
        a['X2018_7_1_'+str(i+1)+'h']=[fcst[0][i]] # column명 지정 및 예측값 대입

        
    # 1 일별 예측
    model = ARIMA(temp_1day['target'], 
                  order=get_optimal_params(temp_1day['target'])) 
    results_ARIMA = model.fit(disp=-1)
    fcst = results_ARIMA.forecast(10) # 10일을 예측

    for i in range(10):
        a['X2018_7_'+str(i+1)+'_d']=[fcst[0][i]] # column명 지정 및 예측값 대입
    
    
    # 월별 예측
    # 일별 예측의 sum 사용
    fcst = results_ARIMA.forecast(153)
    
    # column명을 지정 및 예측값 대입
    a['X2018_7_m'] = [np.sum(fcst[0][:31])] # 7월 
    a['X2018_8_m'] = [np.sum(fcst[0][31:62])] # 8월
    a['X2018_9_m'] = [np.sum(fcst[0][62:92])] # 9월
    a['X2018_10_m'] = [np.sum(fcst[0][92:123])] # 10월
    a['X2018_11_m'] = [np.sum(fcst[0][123:153])] # 11월
    
    # a 에 meter_id를 현재 예측하고 있는 열의 id(key)로 대입
    a['meter_id'] = key 
    
    # agg{ 미터ID: 시간별(subimssion.columns는 예측시간칼럼들) a의 예측값}
    agg[key] = a[submission.columns.tolist()]
    print(key)
print('---- Modeling Done ----')

X26
X303
X241
X435
X402
X352
X305
X350
X326
X299
X160
X125

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X211
X349

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X407
X330

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X132
X231
X225
X16
X286
X354
X353
X76
X255
X106
X393
X157
X323
X130
X269

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X94
X172
X289
X216
X123
X398
X233
X214
X270
X371
X200

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X111
X163
X364
X378
X271
X462
X427
X73
X7
X263
X450
X18
X206
X133
X41
X195
X155

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X134
X297
X175
X254
X196
X481

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X412
X337
X406
X67
X414
X55
X91
X260
X252
X5
X455

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:221: RuntimeWarning: divide by zero encountered in true_divide
  Z_mat, R_mat, T_mat)

X43
X320
X276
X423
X218
X399
X213
X379
X468
X253
X247

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X262

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\tsatools.py:668: RuntimeWarning: invalid value encountered in true_divide
  newparams = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\tsatools.py:669: RuntimeWarning: invalid value encountered in true_divide
  tmp = ((1-np.exp(-params))/(1+np.exp(-params))).copy()

X248
X357
X215
X177
X228
X59
X10
X187
X245
X87
X242
X376
X166
X472
X275
X126
X120
X313
X201
X110
X408
X62
X419
X460
X367
X143
X312
X410
X389

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X300
X61
X470
X445
X158
X421
X105
X32
X178
X308
X217
X229
X358
X31
X148
X397
X363
X165
X30
X88

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X296
X219
X116
X68

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X431
X302
X314
X124
X405
X315
X51

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X176
X396

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X449
X383
X473
X205

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X35
X161
X403
X341
X149
X82
X377
X232
X333
X140
X44
X37
X42
X422
X50
X386
X80
X250
X142
X235
X446
X331
X102
X186
X243
X194
X183
X139
X459
X457
X70
X368
X282
X426

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\tsatools.py:695: RuntimeWarning: divide by zero encountered in log
  invmacoefs = -np.log((1-macoefs)/(1+macoefs))
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tools\numdiff.py:243: RuntimeWarning: invalid value encountered in subtract
  **kwargs)).imag/2./hess[i, j]
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:225: RuntimeWarning: invalid value encountered in log
  Z_mat.astype(complex), R_mat, T_mat)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:225: RuntimeWarning: invalid value encountered in true_divide
  Z_mat.astype(complex), R_mat, T_mat)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\tools\numdiff.py:243: RuntimeWarning: invalid value encountered in multiply
  **kwargs)).imag/2./hess[i, j]
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X47

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X192
X283
X329

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X223
X266
X20
X443
X347
X75

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X107
X230
---- Modeling Done ----

In [99]:
output1 = pd.concat(agg, ignore_index = False)
output2 = output1.reset_index().drop(['level_0', 'level_1'], axis=1)
output2['id'] = output2['meter_id'].str.replace('X','').astype(int)
output2 = output2.sort_values(by='id', ascending=True).drop(['id'], axis=1).reset_index(drop=True)
output2.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.849510,6.689826,6.602653,6.555072,6.529107,6.514946,6.507228,6.503029,6.500751,...,152.463941,152.443042,152.435868,152.436102,152.440334,4730.212240,4735.712612,4591.110672,4752.582776,4607.436636
1,X7,1.342853,1.372029,1.397167,1.418827,1.437490,1.453570,1.467425,1.479362,1.489648,...,42.628761,42.478598,42.407362,42.376357,42.365857,1334.131603,1325.062243,1292.216341,1345.518196,1312.012424
2,X10,2.297198,2.461578,2.602899,2.724392,2.828836,2.918620,2.995799,3.062139,3.119160,...,87.402158,87.279284,87.183967,87.098259,87.015901,2701.829075,2605.055705,2447.305152,2452.708276,2299.872156
3,X16,3.371386,3.539948,3.680263,3.797065,3.894294,3.975230,4.042604,4.098687,4.145372,...,114.964914,114.863567,114.822959,114.812149,114.815957,3578.370220,3579.390259,3480.292264,3613.213753,3513.024677
4,X18,2.499759,2.508434,2.515430,2.521070,2.525619,2.529286,2.532243,2.534626,2.536547,...,62.058246,62.005153,61.976172,61.960352,61.951716,1925.492898,1920.181389,1858.240054,1920.181389,1858.240054

In [101]:
output2.to_csv('subm.csv', index=False)