In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [4]:
sns.set_style('whitegrid')
import matplotlib.pyplot as plt # data visualization
%matplotlib inline

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier

In [38]:
tit = sns.load_dataset("titanic")

In [41]:
del tit['alive']

In [42]:
tit

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,True

In [47]:
del tit['embark_town']

In [52]:
del tit['who']

In [53]:
y = tit.iloc[:,0] 
X = tit.iloc[:,1:]
X

,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,alone
0,3,male,22.0,1,0,7.2500,S,Third,True,NaN,False
1,1,female,38.0,1,0,71.2833,C,First,False,C,False
2,3,female,26.0,0,0,7.9250,S,Third,False,NaN,True
3,1,female,35.0,1,0,53.1000,S,First,False,C,False
4,3,male,35.0,0,0,8.0500,S,Third,True,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.0,0,0,13.0000,S,Second,True,NaN,True
887,1,female,19.0,0,0,30.0000,S,First,False,B,True
888,3,female,NaN,1,2,23.4500,S,Third,False,NaN,False
889,1,male,26.0,0,0,30.0000,C,First,True,C,True
890,3,male,32.0,0,0,7.7500,Q,Third,True,NaN,True

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [55]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
y_train

(623, 11)
(268, 11)
(623,)
(268,)

857    1
52     1
386    0
124    0
578    0
      ..
835    1
192    1
629    0
559    1
684    0
Name: survived, Length: 623, dtype: int64

In [56]:
with tf.device('/GPU:0'):
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
    model.fit(X_train, y_train)

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Second'

In [23]:
with tf.device('/GPU:0'):
    logreg = LogisticRegression()

    logreg.fit(X_train, y_train)

    Y_pred = logreg.predict(X_test)

    acc_log = logreg.score(X_train, Y_train)

    acc_log

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'no'